@media only screen and (max-width: 768px) {

    header>nav>.row>ul {
        display: block;
        /* justify-content: space-between; */
      }
      header>nav>.row>ul>li{
        display: block;
        /* justify-content: space-between; */
        width: 90% !important;
      }



    section>#About>.row>.col-4>.content-left>img {
        margin-left: 12% !important;


    }

    section>#About>.row>.col-7 {
        width: 100% !important;

    }

    .help>.row>.col-4 {
        padding: 20px;
        width: 100% !important;

    }
    
.popwindow>.formwindow>form{
    top: 100vh;
    right: 0;
}


}