header>h1 {
  text-align: center;
  margin-top: 3rem;
  font-style: oblique;
  color: black;
  font-weight: 10px;
}

header>nav>.row>ul {
  display: flex;
  justify-content: space-between;
}

header>nav>.row>ul>li {
  list-style: none;
  background-color: #1577A2;
  text-decoration: none;
  color: #fff;
  /* white text */
  width: 19%;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  /* rounded corners */
  transition: background-color 0.2s ease;
  /* hover effect */
  text-align: center;
  margin: 5px;
}

header>nav>.row>ul>li>a {
  text-decoration: none;
  color: #fff;

}

section>#About {
  margin-top: 3rem;
  padding: 20px;
}

section>#About>.row>.col-5>.content-left>img {
  width: 400px;
  height: 300px;
  margin: 10px;
}

section>#About>.row>.col-7>.content-right {
  margin-top: 3rem;
  text-align: center;



}

.help>.row {
  padding: 20px;
  display: flex !important;
  justify-content: space-between !important;
}

.help>.row>.col-4 {
  position: relative;
  height: 200px;
  width: 400px;
  background: #478CCF;
  border-radius: 25px;
  /* text-align: center; */
  display: flex;
  justify-content: center;

  align-items: center;
  margin: 10px;
}

.help>.row>.col-4>.text-card>a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.popwindow>.formwindowclose{
  display: none;
}
.popwindow>.formwindow{
  display: block;
}
.popwindow>.formwindow>form{
  background-color: #6eefa8;
  width: 400px;
  height: 350px;
  position: absolute;
  top: 35vh;
right: 37vw;
  background-color: #373d4b;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.popwindow>.formwindow>form>h1{
  text-align: center;
  color: #61dafb;
}

label {
  margin-bottom: 10px;
  color: white;
}

.popwindow>.formwindow>form>input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #61dafb;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
  color: #282c37;
}
.popwindow>.formwindow>form>.close-btn{
width: 40px;
height: 40px;
padding: 10px;
position: absolute;
right: 10px;
margin-bottom: 10px;
cursor: pointer;
}
.popwindow>.formwindow>form>.next-btn{
  background-color: #a0ef88;
  color: #282c37;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}